extends ../layout

block body

    h2 Edit the stat names.
    p #{responseText}
    p #{stats}
    
    form(action="/admin/newStat" method="POST")
        label Name of new Stat:
        input(type="text" name="newAbility")
        button(type="submit") Add!


    