extends ../layout

block body

    h2 Welcome!

    p Edit or add a new class:
    p Create a new class:
    //form(action="/welcome/") 

    a(type="button" a href="/admin/newStat") Set stats here.

    p Current list of Classes:
    
